* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#7c65a9, #96d4ca);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: #534276;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}

.conversor{
    display: flex;
    width: 50%;
    align-items: center;
    background-image: linear-gradient(#96d4ca, #7c65a9);            
    border-radius: 20px;
    padding: 80px 30px;
}

.campo {
    text-align: center;
}

.campo label {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #534276;
}

.campo input {
    width: 150px;
    height: 30px;
    background: #53427642;
    border-radius: 20px;
    text-align: center;
}

footer{
    color: #534276;
}